{{ partial "header.html" . }}

  <div class="row">
    <div class="twelve columns" style="margin-top: 25%">
      <article>
        <header>
          <h1 class="page-header">Page Not Found</h1>
          <h2>Whoops!</h2>
        </header>
        <section>
          <p>It looks like the page you are looking for can't be found, sorry about that!</p>
          <p>If you think this is something we should know about, please <a href="/">contact me</a>.</p>

        </section>
      </article>
    </div>
  </div>

{{ partial "footer.html" . }}
