footer {
    margin-top: 2.5rem;
    font-size: 80%;
    color: #666;
}

small {
    font-family: "Roboto";
    font-size: 60%;
    color: #666;
}

.post-title {
    margin-bottom: 0.5rem;
}

.post-excerpt {
    margin-bottom: 0.5rem;
}

.post-footer {
    font-size: 80%;
    color: #666;
}

.post-article {
    margin-bottom: 2rem;
}

.footnotes {
    font-family: "Roboto Condensed";
    font-size: 80%;
    color: #666;
}

blockquote {
    font-style: italic;
}

li {
    margin-bottom: 0.5rem;
}

h1.page-header a,
h1 a {
    text-decoration: none;
}