footer {
    margin-top: 2.5rem;
    font-size: 80%;
    color: #666;
}

small {
    font-family: inherit;
    font-size: 70%;
    color: #666;
}

.post-title {
    margin-bottom: 0.5rem;
}

.post-excerpt {
    margin-bottom: 0.5rem;
}

.post-footer {
    font-size: 80%;
    color: #666;
}

.post-article {
    margin-bottom: 2rem;
}

.footnotes {
    font-family: "Noto Sans";
    font-size: 80%;
    color: #666;
}

blockquote {
    font-style: italic;
}

li {
    margin-bottom: 0.5rem;
}

a {
    text-decoration: none;
    color: #9d0006;
}

a:hover {
    color: #cc241d;
}

h1.page-header a,
h1 a {
    text-decoration: none;
}

h1 small {
    font-family: "Go Mono";
}